body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 1000px;
    height: 200px;
    margin: auto;
}

main{
    width: 1000px;
    height: 500px;
    background: rgb(12, 182, 88);
    margin: auto;
}
footer{
    text-align: center;
    width: 1000px;
    height: 50px;
    background: rgb(74, 213, 238);
    margin: auto;
}
header nav{
height: 50px;
width: 100%;
background:white;
}
header nav a {
    color: red;
    text-decoration: none;
    font-size: 21px;
    margin-left: 40px;
    text-transform: capitalize;
}
header nav a:hover {
    color: blue;
}
